@model NoBook.Models.Profile

<div>
    <form method="post" action="/Profile/Edit/@Model.ProfileId">
        @Html.HttpMethodOverride(HttpVerbs.Put)
        @Html.Label("FirstName", "First Name")
        <br />
        @Html.TextBox("FirstName", Model.FirstName, new { @class = "form-control" })
        <br /><br />
        @Html.Label("LastName", "Last Name")
        <br />
        @Html.TextBox("LastName", Model.LastName, new { @class = "form-control" })
        <br />
        @Html.Label("IsPublic", "Public Profile?")
        <br />
        @Html.CheckBox("IsPublic", Model.IsPublic, new { @class = "form-control" })
        <button type="submit">Save profile</button>
    </form>
</div>
