@model NoBook.Models.Profile

@if ((ViewBag.SameUser == 1 && User.Identity.IsAuthenticated) || Model.IsPublic)
{
    <h2>@Model.FirstName</h2>
    <br />
    <h2>@Model.LastName</h2>

    <ul>
        @foreach (var friend in Model.Friends)
        {
            <li>@friend.FirstName @friend.LastName</li>
            <button>@Html.ActionLink("Show Profile", "Show", "Profile", friend.ProfileId, null)</button>
            <br />
        }
    </ul>


}
else
{
    <h2>This profile is not public</h2>
}

@if (User.Identity.IsAuthenticated)
{
    if (ViewBag.SameUser == 1)
    {
        <button>@Html.ActionLink("Edit your profile", "Edit", "Profile")</button>
    }
    else if (ViewBag.RequestedByMe == 1)
    {
        <p>Friend request sent</p>
    }
    else if (ViewBag.RequestedByThem == 1)
    {
        <p>They requested your friendship</p>
    }
    else if (ViewBag.Friend == 1)
    {
        <p>You are friends</p>
    }
    else
    {
        <button><a href="/FriendRequest/Create/@Model.ProfileId">Send Friend Request</a></button>

    }
    if (ViewBag.SameUser != 1)
    {
        <button><a href="/Message/Index/@Model.ProfileId">Text with them</a></button>
    }
}